<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi App Musical
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img src="assets/imagenes/bombo1.png"></ion-img>
        </ion-card>

      </ion-col>
      <ion-col size='6'>
        <ion-card>
          <ion-img src="assets/imagenes/bombo2.png"></ion-img>
        </ion-card>

      </ion-col>
      <ion-col size='6'>
          <ion-card>
          <ion-img src="assets/imagenes/flauta.png"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size='6'>
          <ion-card>
          <ion-img src="assets/imagenes/platillos.png"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>